.container-page-cards {
  margin: 0px;
  padding: 0px;
  background: #1e1e1e;
  color: white;
  min-height: 100vh;
  .title,
  h2 {
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
  }
  .menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .search-cards {
      display: flex;
      justify-content: space-between;
      background-color: #fffff2;
      width: 643px;
      height: 46px;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
      p {
        font-style: italic;
        font-weight: lighter;
        color: rgba(12, 3, 37, 0.2);
      }
    }
    .list-categories {
      margin: 20px;
      p {
        font-weight: 600;
        margin-bottom: 0px;
      }
    }
  }
}
.container-general-create {
  display: flex;
  gap: 15px;
  .container-button-create {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttonShowmodal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #2a9d8f;
    min-width: 269px;
    min-height: 42px;
    border-radius: 5px;
    cursor: pointer;
  }
  dialog {
    background-color: #264653;
    position: absolute;
    top: 30px;
    bottom: 30px;
    border: none;
    border-radius: 10px;

    .container-modal {
      color: white;
      padding: 50px;
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-family: "Bebas Neue", cursive;
        letter-spacing: 0.07em;
        font-size: 40px;
      }
    }
    img {
      cursor: pointer;
      width: 25px;
    }
  }
}
