.container-page-cards {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(#0c0325, #130843);
  color: white;
  min-height: 100vh;
  .title,
  h2 {
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .search-cards {
      display: flex;
      justify-content: space-between;
      background-color: #fffff2;
      width: 643px;
      height: 46px;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
      p {
        font-style: italic;
        font-weight: lighter;
        color: rgba(12, 3, 37, 0.2);
      }
    }
    p {
      font-weight: 600;
    }
  }
}
.body-page-card {
  background-color: #0c0325;
  color: white;
}
