<form *ngIf="createCardForm" [formGroup]="createCardForm">
  <!-- RECTO -->
  <label for="recto"> Recto</label>
  <input formControlName="recto" type="text" id="recto" />
  <!-- VERSO -->
  <label for="verso"> Verso</label>
  <input formControlName="verso" type="text" id="verso" />
  <!-- CATEGORY -->
  <label for="category">Category:</label>
  <select
    id="category"
    name="category"
    type="select"
    formControlName="category"
  >
    <option value="">-- Select a category --</option>
    <option *ngFor="let category of category" [value]="category.name">
      {{ category.name }}
    </option>
  </select>

  <button (click)="submit()">Ajouter</button>
</form>
