.container-button-create-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-create-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #4d38b9;
  min-width: 269px;
  min-height: 42px;
  border-radius: 5px;
}
